# Q-1)

# Installing Selinium and required libraries

In [30]:
!pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [31]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [32]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [33]:
# Opening the Naukri page on automated chrome browser
driver.get("http://www.naukri.com/")

In [34]:
#entering designation and locations as required in the question-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [35]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [36]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [37]:
Job_Title=[]
Job_Location=[]
Company_NAME=[]
Experience_Required=[]

In [38]:
#Scraping Job Title from the given Page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    Job_Title.append(title)
    
#Scraping Job location from the given page
location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location = i.text
    Job_Location.append(location)
    
#Scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    Company_NAME.append(company)
    
#Scraping Job Experience from the given page
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp = i.text
    Experience_Required.append(exp)

In [39]:
print(len(Job_Title),len(Job_Location),len(Company_NAME),len(Experience_Required))

10 10 10 10

In [40]:
#creating the DataFrame from the above data:-

df = pd.DataFrame({'Job_Title':Job_Title,'Job_location':Job_Location,'Comapny_Name':Company_NAME,'Exp_required':Experience_Required})
df

,Job_Title,Job_location,Comapny_Name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
2,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
3,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
5,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
6,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
8,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs
9,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs

# Q-2)

In [41]:
!pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [42]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [43]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [44]:
# Opening the Naukri page on automated chrome browser
driver.get("http://www.naukri.com/")

In [45]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [46]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [47]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [48]:
Job_Title=[]
Job_Location=[]
Company_NAME=[]

In [49]:
#Scraping Job Title from the given Page
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    Job_Title.append(title)
    
#Scraping Job location from the given page
location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location = i.text
    Job_Location.append(location)
    
#Scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    Company_NAME.append(company)

In [50]:
print(len(Job_Title),len(Job_Location),len(Company_NAME))

10 10 10

In [51]:
#creating the DataFrame from the above data:-

df = pd.DataFrame({'Job_Title':Job_Title,'Job_location':Job_Location,'Comapny_Name':Company_NAME})
df

,Job_Title,Job_location,Comapny_Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, New Delhi",Paytm

# Q-3)

In [52]:
!pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: async-generator>=1.9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [53]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [54]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [55]:
# Opening the Naukri page on automated chrome browser
driver.get("http://www.naukri.com/")

In [56]:
#entering designation and locations as required in the question-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [57]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi / NCR')

In [58]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [59]:
Job_Title=[]
Job_Location=[]
Company_NAME=[]
Experience_Required=[]

In [60]:
#Scraping Job Title from the given Page
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    Job_Title.append(title)
    
#Scraping Job location from the given page
location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location = i.text
    Job_Location.append(location)
    
#Scraping company name from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    Company_NAME.append(company)
    
    
#Scraping Job Experience from the given page
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp = i.text
    Experience_Required.append(exp)

In [61]:
print(len(Job_Title),len(Job_Location),len(Company_NAME),len(Experience_Required))

10 10 10 10

In [62]:
df = pd.DataFrame({'Job_Title':Job_Title,'Job_location':Job_Location,'Comapny_Name':Company_NAME,'Exp_required':Experience_Required})
df

,Job_Title,Job_location,Comapny_Name,Exp_required
0,Data Scientist,"Delhi / NCR, New Delhi, Hyderabad/Secunderabad...",Tata Nexarc,4-8 Yrs
1,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
2,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm,3-5 Yrs
3,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
4,Data Scientist,Hybrid - Noida,HCLTech,4-9 Yrs
5,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,1-5 Yrs
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
7,Senior Data Scientist - Machine Learning,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Global Employees,7-12 Yrs
8,Principal Data Scientist,Gurgaon/Gurugram,Bharatpe,5-8 Yrs
9,Data Scientist - R / Python / SQL,"Delhi / NCR, Mumbai, Gurgaon/Gurugram, Bangalo...",TransOrg Analytics,3-6 Yrs

# Q-7

In [63]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [64]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [65]:
# Opening the Amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [66]:
#entering Laptop and CPU type as required in the question-
All=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
All.send_keys("Laptop")

In [67]:
search = driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [68]:
Title = []
Ratings=[]
Price=[]

In [69]:
#Scraping Title from the given Page
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    title = i.text
    Title.append(title)

In [70]:
len(Title)

10

In [71]:
#Scraping Ratings from the given Page 
rating_tags = driver.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4 aok-align-bottom']")
for i in rating_tags[0:10]:
    rating = i.text
    Ratings.append(rating)

In [72]:
len(Ratings)

10

In [73]:
#Scraping Price from the given Page 
price_tags = driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    price = i.text
    Price.append(price)

In [74]:
len(Price)

10

In [75]:
#creating the DataFrame from the above data:-

df = pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings   Price
0  Lenovo IdeaPad Slim 1 AMD Ryzen 3 3250U 15.6" ...          36,000
1  Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.6...          43,500
2  AVITA SATUS ULTIMUS S111 NU14A1INC43PN-SG 14.1...          19,999
3  Lenovo V15 Intel Celeron N4020 15.6" (39.62 cm...          19,990
4  (Renewed) Dell Latitude E5470 Intel Core i5 6t...          19,289
5  Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...          99,990
6  HP 14s, Intel Celeron N4500, 8GB RAM/256GB SSD...          42,990
7  Lenovo IdeaPad Slim 3 Intel Core i3 10th Gen 1...          49,990
8  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...          47,009
9  (Renewed) Lenovo Thinkpad L450 5th Gen Intel C...

# Q-4)

In [76]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [77]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [78]:
# Opening the Flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [79]:
#entering Sunglasses required in the question-
Products = driver.find_element(By.CLASS_NAME,"_3704LK")
Products.send_keys("sunglasses")

In [80]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [81]:
Brand=[]
Product_Discription=[]
Price=[]

In [82]:
start=0
end=3

#Scraping Brand Title from the given Page
for page in range(start,end):
    
    brand_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in brand_tags:
        Brand.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(5)

In [83]:
len(Brand)

120

In [84]:
start=0
end=3

#Scraping Brand Title from the given Page
for page in range(start,end):
    
    product_discription = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in product_discription:
        Product_Discription.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [85]:
len(Product_Discription)

120

In [86]:
start=0
end=3

#Scraping Brand Title from the given Page
for page in range(start,end):
    
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [87]:
len(Price)

120

In [88]:
#creating the DataFrame from the above data:-

df = pd.DataFrame({'Brand':Brand,'Product Description':Product_Discription,'Price':Price})
df

,Brand,Product Description,Price
0,UV Protection Clubmaster Sunglasses (53),"UV Protection Aviator, Wayfarer Sunglasses (54)",₹199
1,"by Lenskart Polarized, UV Protection Rectangul...",UV Protection Wayfarer Sunglasses (53),₹597
2,"Riding Glasses, Night Vision Spectacle Sunglas...",Polarized Retro Square Sunglasses (Free Size),₹129
3,UV Protection Rectangular Sunglasses (Free Size),UV Protection Wayfarer Sunglasses (Free Size),₹489
4,"UV Protection Cat-eye, Retro Square, Oval, Rou...",UV Protection Aviator Sunglasses (Free Size),₹149
...,...,...,...
115,UV Protection Oval Sunglasses (Free Size),"Polarized, UV Protection Retro Square, Over-si...",₹128
116,"by Lenskart Polarized, UV Protection Wayfarer ...",UV Protection Aviator Sunglasses (55),₹949
117,UV Protection Aviator Sunglasses (55),"by Lenskart Polarized, UV Protection Wayfarer ...",₹664
118,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",UV Protection Aviator Sunglasses (Free Size),₹149
119,UV Protection Wayfarer Sunglasses (Free Size),"UV Protection, Gradient Round, Cat-eye Sunglas...",₹479

# Q-8)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [3]:
# Opening the azquotes page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [4]:
Top_Quotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
Top_Quotes.click()

In [5]:
Quote=[]
Author=[]
type_of_quote=[]

In [6]:
start=0
end=10

for page in range(start,end):
    Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='wrap-block']")]
    
    for i in Details:
        Quote.append(i[0])
        Author.append(i[1])
        type_of_quote.append(i[2])

In [7]:
len(Details)

100

In [8]:
df = pd.DataFrame({'Quote':Quote,'Author':Author,'Type of quotes':type_of_quote})
df

,Quote,Author,Type of quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q-5

In [9]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [10]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [11]:
# Opening the Flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [12]:
Rating=[]
Review_Summary=[]
Full_Review=[]

In [13]:
start=0
end=10

for page in range(start,end):
    
    ratings = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
    for i in ratings:
        Rating.append(i.text)

    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [14]:
len(Rating)

100

In [15]:
start=0
end=10

for page in range(start,end):

    review_summary = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    
    for i in review_summary:
        Review_Summary.append(i.text)

    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [16]:
len(Review_Summary)

100

In [17]:
url = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
url[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="fd43f2c3-9071-4d7a-a037-4c3f04552ce5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="ac399346-a756-4549-a8d4-847a80d14fc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="50b134ea-d20d-41b9-9149-2d4661798962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="4dff1e1b-38b1-472d-80cd-0cfcd74dedc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="90fffc95-5114-4772-99e7-1cbbf025ee35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="194ff7a0-befe-4bb5-9d29-195c80e5b176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="bab5dfbc-0f31-41d7-88ff-7489f89e78d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="21329656-3b09-49a8-9185-6d971a48130b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="51a409df1f68326c9fb696940a259149", element="5c90b361-aebd-4087-902b-22fb3d0a20d5")>]

In [18]:
for i in url[0:10]:
    print(i.get_attribute('href'))

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=1
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=3
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=4
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=5
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=6
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=7
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=8
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=9
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market=&page=10

In [19]:
start=0
end=10

for page in range(start,end):

    full_review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")   
    for i in full_review:
        Full_Review.append(i.text)

    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(5)

In [20]:
len(Full_Review)

100

In [21]:
df = pd.DataFrame({'Rating':Rating,'Review summary':Review_Summary,'full review':Full_Review})
df

,Rating,Review summary,full review
0,5,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
3,4,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Highly recommended,"Amazing camera quality as expected, battery al..."

# Q-9

In [27]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [28]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [29]:
# Opening the jagranjosh page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [30]:
search = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
search.click()

In [31]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search.click()

In [32]:
Name = []
Born_dead=[]
Term_Of_Office=[]
Remarks=[]

In [33]:
#Scraping Name from the given Page
name_tag = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tag[0:18]:
    name = i.text
    Name.append(name)
    
#Scraping Born-dead from the given page
born_dead_tags = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead_tags[0:18]:
    born_dead_tags = i.text
    Born_dead.append(born_dead_tags)
    
#Scraping Term_of_office name from the given page
term_of_office = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term_of_office[0:18]:
    term_of_office = i.text
    Term_Of_Office.append(term_of_office)
    
#Scraping Remarks from the given page
remarks = driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[5]/p")
for i in remarks[0:18]:
    remarks = i.text
    Remarks.append(remarks)

In [34]:
print(len(Name),len(Born_dead),len(Term_Of_Office),len(Remarks))

18 18 18 18

In [35]:
df = pd.DataFrame({'NAME':Name,'BORN-DEAD':Born_dead,'TERM-OF-OFFICE':Term_Of_Office,'REMARKS':Remarks})
df

,NAME,BORN-DEAD,TERM-OF-OFFICE,REMARKS
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"16 years, 286 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),13 days,-
4,Indira Gandhi,(1917–1984),9 June 1964 to 11 January 1966,First female Prime Minister of India
5,Morarji Desai,(1896–1995),"1 year, 216 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),11 January 1966 to 24 January 1966,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),13 days,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),24 January 1966 to 24 March 1977,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"11 years, 59 days",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),24 March 1977 to 28 July 1979,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"2 year, 126 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),28 July 1979 to 14 January 1980,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),170 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),14 January 1980 to 31 October 1984,------
15,Atal Bihari Vajpayee,(1924-2018),"4 years, 291 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),31 October 1984 to 2 December 1989,First Sikh PM
17,Narendra Modi,(born 1950),"5 years, 32 days",4th Prime Minister of India who served two con...

# Q-6

In [118]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [119]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [120]:
# Opening the Flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [121]:
#entering sneakers required in the question-
Products = driver.find_element(By.CLASS_NAME,"_3704LK")
Products.send_keys("sneakers")

In [122]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [123]:
Brand=[]
Product_Discription=[]
Price=[]

In [126]:
start=0
end=3

#Scraping Brand Title from the given Page
for page in range(start,end):
    
    brand_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_tags:
        Brand.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(5)
BRAND = Brand[0:100]

In [127]:
len(BRAND)

100

In [128]:
url = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
url[0:120]

[<selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="7543c6b2-07cf-4841-bbac-c64710767e87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="2b2ef81e-a3b2-49f0-bae9-62eed8126e12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="5bc649a7-da33-4401-8380-3c901c20475a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="c34d7038-1f58-41d4-9a32-30bd23f2a484")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="1a2705d7-373c-4546-a318-3016561b25e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="0b37f206-a3d4-4c26-8bdb-b1f856760bcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="e01f7bb2-9963-47d9-afc4-e2508cecddd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="2f864f4b-e1fe-41e5-9afb-c67588ef1db3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="87a4f76d-58a1-49eb-8de0-36b3e72a445a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="2241cb3f-90ca-48b2-9570-d425bac6e81e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="093effb6-911c-4b30-afa6-2ba5a86cfa32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="30f02b2f-ac2e-4f35-ab53-b9d860b85182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="585144f0-5b27-484b-9eca-344283612235")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="f1c78b66-7e3e-454d-9f59-a8d7ade0a1bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="28cbdea4-e784-4061-b8d1-3dfc2f96e642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="1299e2ae-f52b-491c-91f7-91b55346b215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="b881f973-795f-40b3-995c-1dddff664c48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="2941993d-9697-47c7-808b-24bf5d1bf720")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="ce8d0d36-7456-43d6-81df-7ad1efea5017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="076681c1-0883-457f-889a-262c96ce0cf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="b7e89dd2-36a3-4896-8ab3-a41827628542")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="6e2ef821-df26-457b-b5ab-235aa8cc1cba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="821210a1-a97b-463c-92af-459625b92975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="a1b92015-288b-426a-9218-d01c8039646a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="1be813ca-44ad-49e0-99c2-bb5a12cc857e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="e06787f6-f4ab-4a99-8181-58e5c907f69a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="7a5fffb3-ba3f-4389-9a62-50d0b86013a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="77c716e3-29f4-4433-99f1-556a9271750e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="8e2f4023-9f54-4ade-9152-d466a489c946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="5a55d046-6522-446f-927b-8f7f66d79774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="0a79efb7-7f4f-406b-9f4f-47ef1e89fd51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="cf452ecd-ef5b-4c0c-8ad3-f97d8a56b810")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="efef86d8-2b8a-471b-9436-9b6a879779a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="3a44b4d6-77f4-401d-9752-64fa0aed5bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="59d0c932-47e2-414d-87ca-b88b0c4cf9b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="da261b01-042d-4001-a9fc-22c9c04b21d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="57b59631-f31b-4114-bbe3-4401eb6e05fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="07f7a2ef-e828-42ff-88bc-093f10938b25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6b26a2b44de17ee3a8e4e69a480e6a89", element="b33e3bf6-9934-44d7-8799-223f02a94330")>]

In [129]:
for i in url[0:120]:
    print(i.get_attribute('href'))

https://www.flipkart.com/asian-trendy-21-white-girls-casuals-loafers-stylish-color-changing-sneakers-women/p/itm92e2ba322fa94?pid=SHOGJ69ZHHVZA6BK&lid=LSTSHOGJ69ZHHVZA6BKAPKKCT&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRglxbiBxi6gfzOFcJgbGcpSwz1SuY96VYyAtWpLS0Xoaw%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/tr-running-walking-sport-shoes-men-sneakers/p/itm874a349cbf2d5?pid=SHOGGZEFCHRSFPGF&lid=LSTSHOGGZEFCHRSFPGFYKWXWF&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRjLomJvFUUa%2F3rNErwEDZgTqsNUGvEYIkTZcUXbGhslYQ%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/labbin-sneakers-men/p/itm22551963c0809?pid=SHOG497GM6AVWCEU&lid=LSTSHOG497GM6AVWCEUBBOTEM&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_3&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG497GM6AVWCEU.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/shozie-sneakers-men/p/itmcd8e2b913c36f?pid=SHOFZDYHFZ5W3R7E&lid=LSTSHOFZDYHFZ5W3R7EFUGD6F&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_4&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOFZDYHFZ5W3R7E.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/sfr-planck-smart-grey-lace-ups-casuals-sneakers-men/p/itm235876f38d67e?pid=SHOGHXGUPVVFMTMH&lid=LSTSHOGHXGUPVVFMTMHV7SEDW&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_5&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGHXGUPVVFMTMH.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/sfr-fast-trenddy-tainer-lace-ups-sporty-casuals-sneakers-men/p/itmbc03267df97fd?pid=SHOGEAGYTQWJSRBP&lid=LSTSHOGEAGYTQWJSRBPAEB5SC&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_6&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGEAGYTQWJSRBP.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/kzaara-sneakers-men/p/itm540d765c42d7d?pid=SHOG8YYWE9UKXXPS&lid=LSTSHOG8YYWE9UKXXPSVI3SSU&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_7&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG8YYWE9UKXXPS.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/elevarse-smart-sports-running-shoes-men-boys-sneakers/p/itmaa46cf10d0fbb?pid=SHOGHZH9HWKA5RHW&lid=LSTSHOGHZH9HWKA5RHWAMTP1Z&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_8&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRgoJC%2FS%2B4ptr5zCJr4AVyTFquYGEySAMEL0blwzL6HqBA%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/aadi-mesh-ultralightweight-comfortable-breathable-walking-outdoor-daily-use-sneakers-men/p/itma442bf9226209?pid=SHOGDZZETU2Z9TKH&lid=LSTSHOGDZZETU2Z9TKHMX4LMI&marketplace=FLIPKART&q=sneakers&store=osp&spotlightTagId=BestsellerId_osp&srno=s_1_9&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGDZZETU2Z9TKH.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/bruton-modern-trendy-sneakers-shoes-men/p/itm6036f913ec47f?pid=SHOG293HVNGZFYYG&lid=LSTSHOG293HVNGZFYYGKWCPDF&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_10&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG293HVNGZFYYG.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/sfr-sneakers-men/p/itm0ae40ea4142eb?pid=SHOGFD3CZFTT4DQ2&lid=LSTSHOGFD3CZFTT4DQ2SSBU0P&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_11&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGFD3CZFTT4DQ2.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-fiona-wn-s-slipon-sneakers-women/p/itmb3f65f3f57bca?pid=SHOG9BHZ4RRRNJBH&lid=LSTSHOG9BHZ4RRRNJBHHCXBJJ&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_12&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRjNsm9VZyVa%2BnY69gLghRSxvj29XPPZseEq2BxKVnxS%2Bg%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/scatchite-sneakers-men/p/itmc13680b1d9604?pid=SHOFUDSUHXHE67UG&lid=LSTSHOFUDSUHXHE67UGSXKTQ1&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_13&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOFUDSUHXHE67UG.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/world-wear-footwear-exclusive-affordable-collection-trendy-stylish-casual-sneakers-shoes-men/p/itmf1f2267bb145c?pid=SHOGFDGVVMZG7KYA&lid=LSTSHOGFDGVVMZG7KYAHNUB0B&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_14&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGFDGVVMZG7KYA.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/reevas-stylish-trending-collection-textured-comfortable-sneakers-men-black/p/itm458f929ef3070?pid=SHOGJYHAEVGKG78M&lid=LSTSHOGJYHAEVGKG78MYLI7FA&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_16&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRhjjjJZSaZKyt3y1hTxAJGlxRGUvT6PVEAXvU%2BaZwb4hw%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/bond-street-red-tape-high-top-sneakers-men/p/itm8487870f69b9a?pid=SHOGJVHYS9VNF6VS&lid=LSTSHOGJVHYS9VNF6VSAQ0AQH&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_17&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGJVHYS9VNF6VS.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/deals4you-sneakers-women/p/itmd1241f2f24eb8?pid=SHOG7PJ6CBYM4AVD&lid=LSTSHOG7PJ6CBYM4AVDGU3MZK&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_18&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG7PJ6CBYM4AVD.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/kraasa-casuals-canvas-partywear-sneakers-men/p/itm3b6ebb856eb64?pid=SHOFGGF775EQNSMW&lid=LSTSHOFGGF775EQNSMWJWRGWA&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_19&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOFGGF775EQNSMW.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-wired-slipon-sneakers-men/p/itm22b7e1757f786?pid=SHOFNU2XX4YGUZ57&lid=LSTSHOFNU2XX4YGUZ574PCCOE&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_20&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRgC0xXl5GK4OBlaG1jI8Whu1GVN5W6KtSQkaabu49Su%2Bg%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/rzisbo-sneakers-men/p/itm0684b7d811ad8?pid=SHOG6H3DCGWRR3NG&lid=LSTSHOG6H3DCGWRR3NGDXYTI0&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_21&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG6H3DCGWRR3NG.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/asian-waterproof-05cfullwhite-sneakers-men/p/itm030b374a7fff9?pid=SHOG6YHFFZR7P7HH&lid=LSTSHOG6YHFFZR7P7HHQ88FLV&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_22&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG6YHFFZR7P7HH.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/sfr-planck-smart-red-lace-ups-casuals-sneakers-men/p/itm3418862c636f2?pid=SHOGE9EM9QXXR2GM&lid=LSTSHOGE9EM9QXXR2GMOAESMB&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_23&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGE9EM9QXXR2GM.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-mapf1-a3rocat-mid-sneakers-men/p/itm7c1192676957d?pid=SHOG5HF2WC5D69QD&lid=LSTSHOG5HF2WC5D69QDCEQKSP&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_24&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRiaYCbZ7msR2QaqMg%2FPQy5hkkKP9evmk%2BJXpmBpaclpkg%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/robbie-jones-sneakers-men/p/itmed5242b75c69f?pid=SHOG5Y5AKNTT8DPC&lid=LSTSHOG5Y5AKNTT8DPCNVIEV5&marketplace=FLIPKART&q=sneakers&store=osp&spotlightTagId=BestsellerId_osp&srno=s_1_25&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG5Y5AKNTT8DPC.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/gvr-sneakers-men/p/itmd3506c2a43727?pid=SHOGHBEAWU8UXWAM&lid=LSTSHOGHBEAWU8UXWAMKS0MXG&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_26&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGHBEAWU8UXWAM.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/shozie-sneakers-men/p/itme6dd12e873e23?pid=SHOGHCG4WQYSWYZE&lid=LSTSHOGHCG4WQYSWYZEWEP3HN&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_27&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGHCG4WQYSWYZE.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-jada-night-out-sneakers-women/p/itmd38630108065d?pid=SHOGFXJHZYWKERBF&lid=LSTSHOGFXJHZYWKERBFY0RR5A&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_28&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRh1iljFaA%2FKBv0muFdWf9Wpk8kOTY8cZ2O8kryps1NHNw%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/asian-shoes-future-04-casual-men-latest-stylish-sport-running-boys-lace-up-lightweight-navy-running-walking-gym-trekking-hiking-party-sneakers/p/itm80f9dcd3cf969?pid=SHOG5PG5CJN2SA29&lid=LSTSHOG5PG5CJN2SA29PRNFPZ&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_29&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG5PG5CJN2SA29.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/robbie-jones-sneakers-men/p/itme831dc6090a19?pid=SHOG5FA5GEHYZHJ4&lid=LSTSHOG5FA5GEHYZHJ4DPJ9C7&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_30&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG5FA5GEHYZHJ4.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/tr-sneakers-men/p/itme2fda2cd5f2ff?pid=SHOGAB52YDCV6BQZ&lid=LSTSHOGAB52YDCV6BQZ618H7F&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_31&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGAB52YDCV6BQZ.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/edisson-casual-sneakers-black-outdoor-shoes-boys-men-black/p/itm460eaf5c28945?pid=SHOGHABYYY4MVEJC&lid=LSTSHOGHABYYY4MVEJCABS6Y9&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_32&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRg2lR48Y90zKbUCYWJtiNXZQEF84MHobwHL7XqL1mie0w%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/bacan-sneakers-men/p/itm470a41fad5e75?pid=SHOGCYGACUHTNE2G&lid=LSTSHOGCYGACUHTNE2GDH6XXQ&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_33&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGCYGACUHTNE2G.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-mirage-sport-tech-sneakers-men/p/itmf3037e784bd68?pid=SHOGFZKKUZXGHG3H&lid=LSTSHOGFZKKUZXGHG3HPP0PQO&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_34&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGFZKKUZXGHG3H.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/kraasa-sneakers-women/p/itm414d255dba994?pid=SHOGEXNFUU3WFUTU&lid=LSTSHOGEXNFUU3WFUTUX4VHZQ&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_35&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGEXNFUU3WFUTU.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-bella-v-patent-sneakers-women/p/itmcbd58ca50f9ac?pid=SHOG536KQ2MU8UGP&lid=LSTSHOG536KQ2MU8UGPYM9WYK&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_36&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRiKhZcm9Ac%2FAwK0hULkfUsjKQDwGpq0DLgKqAxSi6HLIA%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/aadi-synthetic-lightweight-premiun-comfort-summer-tendy-outdoor-sneakers-men/p/itm62a28aae2ef59?pid=SHOGG3KSTXYYGYJV&lid=LSTSHOGG3KSTXYYGYJVJCF8ZD&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_37&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOGG3KSTXYYGYJV.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/rapidbox-sneakers-men/p/itm00df7333b67b8?pid=SHOG72GEFGHKUQFG&lid=LSTSHOG72GEFGHKUQFGX0KXEK&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_38&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG72GEFGHKUQFG.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/white-walkers-stylish-trending-outdoor-walking-comfortable-sneakers-men/p/itmb05f2f0511794?pid=SHOG5Y966AFBRDGJ&lid=LSTSHOG5Y966AFBRDGJZNWTVH&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_39&otracker=search&otracker1=search&fm=Search&iid=63037a27-fcc2-49f0-b914-6bcf40aad039.SHOG5Y966AFBRDGJ.SEARCH&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290
https://www.flipkart.com/puma-lia-wn-s-sneakers-women/p/itm254e1630a791e?pid=SHOGB68M46Z3XPUB&lid=LSTSHOGB68M46Z3XPUB4FR2MP&marketplace=FLIPKART&q=sneakers&store=osp&srno=s_1_40&otracker=search&otracker1=search&fm=Search&iid=en_E2xqVlMwDKfXKzqy8IGFvzZpOLYdxfDOq%2F67Ahjn%2FRgkHGlGrUcwRK0nzVf4vKzfTIgRb5VV5TgMzfEL42iiMQ%3D%3D&ppt=sp&ppn=sp&ssid=2a6d247cao0000001670691629888&qH=a1743c0d39461290

In [133]:
#Scraping Product description  from the given Page
for page in range(start,end):
    
    product_discription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_discription:
        Product_Discription.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(5)
PRODUCT_DESCRIPTION = Product_Discription[0:100]

In [134]:
len(PRODUCT_DESCRIPTION)

100

In [135]:
start=0
end=3

#Scraping price from the given Page
for page in range(start,end):
    
    price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price_tags:
        Price.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(5)
PRICE = Price[0:100]

In [136]:
len(PRICE)

100

In [137]:
df = pd.DataFrame({'Brand':BRAND,'Product_Discription':PRODUCT_DESCRIPTION,'Price':PRICE})
df

,Brand,Product_Discription,Price
0,TR,"Trendy-21 White Girls Casuals,Loafers,Stylish ...",₹849
1,Elevarse,Running / Walking / Sport Shoes For Men Sneake...,₹399
2,Labbin,Sneakers For Men,₹349
3,Shozie,Sneakers For Men,₹499
4,SFR,PLANCK Smart Grey Lace-Ups Casuals Sneakers Sn...,₹599
...,...,...,...
95,ASTEROID,Sneakers For Men,₹399
96,Bond Street By Red Tape,WATERPROOF-05cFULLWHITE Sneakers For Men,₹599
97,Deals4you,PLANCK Smart Red Lace-Ups Casuals Sneakers Sne...,"₹1,099"
98,Kraasa,Casual Sneakers Black Outdoor Shoes For Boys A...,₹399
99,OZJI,Sneakers For Men,₹559

# Q-10)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Let's Connect the driver:-
driver = webdriver.Chrome(r"C:\Users\SUVARCHALA\Downloads\chromedriver_win32.chromedriver.exe")

In [3]:
# Opening the motor1 page on automated chrome browser
driver.get("https://www.motor1.com/")

In [4]:
#clicking box item left 
search = driver.find_element(By.CLASS_NAME,'box-item-left')
search.click()

In [5]:
#clicking on features dropdown
search = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
search.click()

In [6]:
#clicking on list
search = driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
search.click()

In [7]:
#clicking on most 50expensive cars in the world
search = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[2]/div/div[1]/h3/a')
search.click()

In [8]:
CAR_NAME=[]
DESCRIPTION = []
PRICE=[]

In [9]:
#Scraping 50 most-expensive cars from the given Page
car_name_tags = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in car_name_tags[0:50]:
    carname = i.text
    CAR_NAME.append(carname)

#Scraping Car description from the given page
description_tags = driver.find_elements(By.XPATH,'/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/p')
for i in description_tags[0:50]:
    description = i.text
    DESCRIPTION.append(description)

#Scraping Car Price
price_tags = driver.find_elements(By.XPATH,"//strong")
for i in price_tags[0:50]:
    price = i.text
    PRICE.append(price)

In [10]:
print(len(CAR_NAME),len(DESCRIPTION),len(PRICE))

50 0 50

In [11]:
df = pd.DataFrame({'CAR NAME':CAR_NAME,'PRICE':PRICE})
df

                           CAR NAME                 PRICE
0                         Drako GTE   Price: $1.2 Million
1                     De Tomaso P72   Price: $1.3 Million
2                 Ferrari LaFerrari   Price: $1.4 Million
3                     Pagani Huayra   Price: $1.4 Million
4                      McLaren Elva
5                       Czinger 21C   Price: $1.7 Million
6                     Ferrari Monza   Price: $1.7 Million
7                Gordon Murray T.33   Price: $1.7 Million
8                 Koenigsegg Gemera   Price: $1.7 Million
9                       Zenvo TSR-S   Price: $1.7 Million
10               Hennessey Venom F5   Price: $1.7 Million
11                  Bentley Bacalar   Price: $1.8 Million
12    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
13           Bentley Mulliner Batur   Price: $1.9 Million
14                     Deus Vayanne   Price: $2.0 Million
15                      SSC Tuatara   Price: $2.0 Million
16                      Lotus Evija  Price: $2.0 Million*
17              Aston Martin Vulcan   Price: $2.1 Million
18                       Delage D12   Price: $2.3 Million
19                McLaren Speedtail   Price: $2.3 Million
20                     Rimac Nevera   Price: $2.3 Million
21                    Pagani Utopia   Price: $2.4 Million
22             Pininfarina Battista   Price: $2.5 Million
23                Ferrari FXX K Evo   Price: $2.5 Million
24               Gordon Murray T.50   Price: $2.6 Million
25             Lamborghini Countach   Price: $2.6 Million
26         Mercedes-AMG Project One   Price: $2.6 Million
27              Aston Martin Victor   Price: $2.7 Million
28      Hennessey Venom F5 Roadster   Price: $3.0 Million
29                 Koenigsegg Jesko          $3.0 Million
30            Aston Martin Valkyrie   Price: $3.0 Million
31        W Motors Lykan Hypersport   Price: $3.2 Million
32                    McLaren Solus   Price: $3.4 Million
33        Pagani Huayra Roadster BC          $3.5 Million
34         Bugatti Chiron Pur Sport   Price: $3.5 Million
35                 Lamborghini Sian   Price: $3.6 Million
36                 Koenigsegg CC850   Price: $3.6 million
37  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
38               Lamborghini Veneno   Price: $3.9 Million
39                   Bugatti Bolide   Price: $4.5 Million
40                  Bugatti Mistral   Price: $4.7 Million
41              Pagani Huayra Imola   Price: $5.0 Million
42                     Bugatti Divo   Price: $5.4 Million
43              SP Automotive Chaos   Price: $5.8 Million
44                 Pagani Codalunga   Price: $6.4 Million
45         Mercedes-Maybach Exelero   Price: $7.4 Million
46               Bugatti Centodieci   Price: $8.0 Million
47             Rolls-Royce Sweptail   Price: $9.0 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million

# Hence can't  scrap the data of description printed the Data Frame with remaining columns